<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/register.css") }}" type="text/css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Tanqed</title>
</head>
<body>
<div id="page">
    <div class="registerContainer">
        <p class="text1" style="text-align : center; font-size:35px;">Welcome Tanqed !</p>
        <p class="text2" style="text-align : center; font-weight:blod;">With Tanqed account, you can accross every application connected to Tanqed.</p>    
        <div class="border">
            <img width="100" height="100" src="{{url_for("static", filename="images/register.png")}}" />
            <form id="formRegister" action="/register" method="post">
                <p class="text1" style="font-size:28px;">email</p>
                <p class="text1">
                    <input class="text1" name="username" type="text" style="width: 300px; height: 30px;
                    font-size:26px;" />
                </p>
                <p class="text1" style="font-size:28px;">password</p>
                <p class="text1">
                    <input class="text1" name="password" type="password" style="width: 300px; height: 30px;
                    font-size:26px;" />
                </p>
                <p class="text3">{{get_flashed_messages()[0]}} </p>
                <p class="text1">
                    <button onclick="submit" style="margin: 0; padding: 0; border-width: 0;">
                        <img width="140" height="50"
                             src="{{url_for("static", filename="images/registerButton.png")}}" />
                    </button>
                </p>
             </form>
        </div>
        <p class="text2" style="text-align : center; font-weight:blod;">
            You will receive an active email after successful register.</p>
        <p class="text3" style="text-align : center; font-weight:blod;">
            Please active your account with in 24 hours.<br/>
            otherwith the token in email will expire!</p>
    </div>
</div>
</body>

</body>
</html>