.button{
    width:50%;
}
#home-btn{
    margin-top: 20%;
}
.welcome{
    text-align: center;
    font-family: "Abyssinica SIL";
    font-size: 26px;
    font-weight: bold;
    margin-top: 10px;
}
.gap{
    margin-top: 20px;
}
body {
    background: lightskyblue;
}
.nav-style{
    background: aliceblue;
}
.blue{
    color: blue;
}
.yellow{
    color: yellow;
}
#displayUser{
    width: auto;
}